In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
#ファイル書き出し
for j in range(3):
    filepath=str(j+1).zfill(4)
    print(filepath)
    os.makedirs(filepath,exist_ok = True)
    for i in range(10):
        tmp = pd.DataFrame({'a':np.repeat(i*(j+1),10),'b':np.repeat(i*(j+1),10),'c':np.repeat(i,10)})
        tmp.to_csv('./'+ filepath +'/'+ str(i)+'.csv',index=False)

0001
0002
0003

In [3]:
np.repeat('s',5)

array(['s', 's', 's', 's', 's'], dtype='<U1')

In [4]:
tmp

    a   b  c
0  27  27  9
1  27  27  9
2  27  27  9
3  27  27  9
4  27  27  9
5  27  27  9
6  27  27  9
7  27  27  9
8  27  27  9
9  27  27  9

In [6]:
print(str(1).zfill(4))

0001

In [7]:
import glob
glob.glob('./*')

['./0003', './0002', './Untitled.ipynb', './0', './0001']

In [21]:
os.path.abspath('6.csv')

'/Users/TakahiroKawada/Jupyter/fileCreation/0001/6.csv'

In [16]:
os.chdir('./0001')
print(chdir)

FileNotFoundError: [Errno 2] No such file or directory: './0001'

In [19]:
print(os.chdir)

TypeError: Required argument 'path' (pos 1) not found

In [ ]:
dirname, basename = os.path.split('./')

In [ ]:
basename

In [10]:
import pandas as pd
df=pd.DataFrame({'files':glob.glob('./*')})

In [11]:
df.head()

              files
0            ./0003
1            ./0002
2  ./Untitled.ipynb
3               ./0
4            ./0001

In [46]:
from pathlib import Path
os.chdir('/Users/TakahiroKawada/Jupyter/fileCreation')
# Pathオブジェクトを生成
p = Path("./")

# dir_A直下のファイルとディレクトリを取得
# Path.glob(pattern)はジェネレータを返す。結果を明示するためlist化しているが、普段は不要。
#list(p.glob("*"))

# ファイル名の条件指定
#list(p.glob("*.csv"))

# 再帰的な検索
#list(p.glob("**/*.csv"))
a =list(p.glob('**/*.csv'))
#p.name
#list(p.glob('*').suffixes)

In [87]:
df_9 = pd.DataFrame({'name':a})
df_9['name2']=df_9['name'].apply(lambda x: str(x))
df_9['name2'].str.contains('7.csv')

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: name2, dtype: bool

In [54]:
pd.read_csv(a[0])

    a   b  c
0  18  18  6
1  18  18  6
2  18  18  6
3  18  18  6
4  18  18  6
5  18  18  6
6  18  18  6
7  18  18  6
8  18  18  6
9  18  18  6

In [97]:
from pathlib import Path
os.chdir('/Users/TakahiroKawada/Jupyter/fileCreation')
# Pathオブジェクトを生成
p = Path("./")


# 再帰的な検索
a =list(p.glob('**/*.csv'))


df = pd.DataFrame()
for i in a:
    tmp = pd.read_csv(i)
    tmp['filename']=str(i)
    df = pd.concat([df,tmp],ignore_index=True)

In [98]:
df

      a   b  c    filename
0    18  18  6  0003/6.csv
1    18  18  6  0003/6.csv
2    18  18  6  0003/6.csv
3    18  18  6  0003/6.csv
4    18  18  6  0003/6.csv
5    18  18  6  0003/6.csv
6    18  18  6  0003/6.csv
7    18  18  6  0003/6.csv
8    18  18  6  0003/6.csv
9    18  18  6  0003/6.csv
10   21  21  7  0003/7.csv
11   21  21  7  0003/7.csv
12   21  21  7  0003/7.csv
13   21  21  7  0003/7.csv
14   21  21  7  0003/7.csv
15   21  21  7  0003/7.csv
16   21  21  7  0003/7.csv
17   21  21  7  0003/7.csv
18   21  21  7  0003/7.csv
19   21  21  7  0003/7.csv
20   15  15  5  0003/5.csv
21   15  15  5  0003/5.csv
22   15  15  5  0003/5.csv
23   15  15  5  0003/5.csv
24   15  15  5  0003/5.csv
25   15  15  5  0003/5.csv
26   15  15  5  0003/5.csv
27   15  15  5  0003/5.csv
28   15  15  5  0003/5.csv
29   15  15  5  0003/5.csv
..   ..  .. ..         ...
270   2   2  2  0001/2.csv
271   2   2  2  0001/2.csv
272   2   2  2  0001/2.csv
273   2   2  2  0001/2.csv
274   2   2  2  0001/2.csv
275   2   2  2  0001/2.csv
276   2   2  2  0001/2.csv
277   2   2  2  0001/2.csv
278   2   2  2  0001/2.csv
279   2   2  2  0001/2.csv
280   9   9  9  0001/9.csv
281   9   9  9  0001/9.csv
282   9   9  9  0001/9.csv
283   9   9  9  0001/9.csv
284   9   9  9  0001/9.csv
285   9   9  9  0001/9.csv
286   9   9  9  0001/9.csv
287   9   9  9  0001/9.csv
288   9   9  9  0001/9.csv
289   9   9  9  0001/9.csv
290   8   8  8  0001/8.csv
291   8   8  8  0001/8.csv
292   8   8  8  0001/8.csv
293   8   8  8  0001/8.csv
294   8   8  8  0001/8.csv
295   8   8  8  0001/8.csv
296   8   8  8  0001/8.csv
297   8   8  8  0001/8.csv
298   8   8  8  0001/8.csv
299   8   8  8  0001/8.csv

[300 rows x 4 columns]

In [88]:
df_9 = pd.DataFrame({'name':a})
df_9['name'].apply(lambda x: str(x))
df_9['name2'].str.contains('7.csv')

AttributeError: 'str' object has no attribute 'str'